<div class="dialog-container" [ngClass]="hidden ? 'hidden' : '' ">
  <div class="dialog-header">
    <div id="titleText">{{dialogData.title}}</div>
    <div id="xButton" (click)="closeDialog()">X</div>
  </div>
  <div class="dialog-body">
    <div *ngIf="dialogData.type == 'normal'">
      <label>{{dialogData.message}}</label>
    </div>
    <div *ngIf="dialogData.type == 'confirm'">
      <label>{{dialogData.message}}</label>
      <br>
      <button (click)="closeDialog()">Confirm</button>
    </div>
  </div>
</div>